body {
  font-family: "Titillium Web", sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App {
  display: grid;
}

.button-stop,
.button-delete {
  height: 5vh;
  width: 100px;
  margin-left: 5vh;
}

.timer {
  width: 100%;
  height: 30vh;
}

.timer-running {
  color: yellow;
}

.timer-time {
  font-size: 5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
